/* Estilos para el encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .left img {
    width: 100px; /* Ajusta el ancho del gif animado según tus necesidades */
    height: auto; /* Ajusta la altura proporcionalmente */
  }
  
  .right a {
    margin-right: 16px;
  }
  
  .right img {
    width: 32px; /* Ajusta el tamaño de los iconos según tus necesidades */
    height: 32px; /* Ajusta el tamaño de los iconos según tus necesidades */
  }
  
  
  /* Estilos para el cuerpo de la página */
main {
  /* Agregamos estilos para el contenedor principal */
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center; /* Centramos horizontalmente el contenido */
  align-items: center; /* Centramos verticalmente el contenido */
  height: 100vh; /* Altura del contenedor principal (ejemplo: 100% del viewport) */
}

.main-image {
  /* Agregamos estilos para la imagen */
  max-width: 100%; /* La imagen se ajustará al ancho máximo del contenedor */
  height: auto; /* La altura se ajustará proporcionalmente */
  display: block; /* Para asegurarnos de que la imagen no tenga espacios extra */
}
  
  body {
    background-image: url('https://github.com/Biasatti/lacostumbre.github.io/blob/main/assets/BG.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }  
