
@media (max-width: 768px) {
    .img-center {
        max-width: 60%; 
    }
    .background-section {
        min-height: 50vh;
    }
    .d-block.d-md-none iframe {
        position: absolute; 
        bottom: 0; 
        left: 0; 
        transform: translateX(15%);
        width: 80%; 
    }

}

/* NavBar */
.navbar-icon {
    margin-right: 15px; 
    color: #333; 
    transition: color 0.3s; 
}

.navbar-icon:hover {
    color: #007bff; 
}

/* BG */
.background-section {
    background-image: url('images/BG.png'); 
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center;
    height: 600px; 
    min-height: 80vh; 
}

.background-container {
    position: relative; 
}

/* Spotify */
iframe {
    border-radius: 12px;
    max-width: 100%;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.footer-left {
    display: inline-block;
    margin-right: 20px;
}

.footer-left i {
    margin-right: 5px;
}

.footer-right {
    float: right;
}
